body{
    background-color: black;
    font-style: unset;
    color: aliceblue;
    background-image: url(b.jpg);
    background-repeat: no-repeat;
    background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-size: cover; /* Scales the image to cover the entire element */
  height: 100vh; /* Ensures the body takes up the full viewport height */
  margin: 0; 
}
h1{
    
    height: auto;
    font-display: center;
    text-align: center;
    font-size: xx-large;
    
    background: size 50%;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
button{
  height: 40px;
  
}